.cards{
	display: table-cell;
	width: 97%;      
	vertical-align: top;
    position: fixed;
    background: #F4F9FF;
    height: 100vh;
    overflow-x: scroll;
}

.site-card-border-less-wrapper{
    margin-top: 1rem;
    display: grid;
    column-gap: 0px;
    grid-template-columns: 286px  286px 286px 286px;
}
.site-card-border-less-wrapper .box{

    /* width: 250px; */
    height: 120px;
    margin: 1.6rem 0 0 2rem;
    border-radius: 10px;
    /* flex-direction: row; */
}
.site-card-border-less-wrapper .box:hover{
    border: 2px solid #2B78D4;
}

.site-card-border-less-wrapper .box img{
    position: relative;
    top: -1rem;
    left: -.7rem;
    width: 38px;
}
.site-card-border-less-wrapper .box .content {
    margin-top: -1rem;
    margin-left: .7rem;
}
.site-card-border-less-wrapper .box .content h3{
    color: #002F68;
    font-size: 15px;
}
.site-card-border-less-wrapper .box .content p{
    color: #5C83B1;
    margin-top: -10px;
    font-size: 12px;
}
.site-card-border-less-wrapper .box .content p:last-child{
    margin-top: 1rem;
}

.site-card-border-less-wrapper .box .content2{
    display: none;
   
}
.site-card-border-less-wrapper .box .content2 span{
    font-size: 10px;
    position: relative;
    left: -2rem;
    top: -1rem;
    /* letter-spacing: -1px; */
}
.site-card-border-less-wrapper .box .content2 button{
    width: 100px;
    background: #2B78D4;
    float: right;
    margin-top: -.4rem;
    border: none;
    padding: 2px;
    color: aliceblue;
    border-radius: 2px;
}

/* .site-card-border-less-wrapper .box .content:hover + .site-card-border-less-wrapper .box .content2{
    display: block;
} */


 .ant-card-body:hover .content2{
    display: block;
 }
 .ant-card-body:hover .content{
   display: none;
 }
 .ant-card-body:hover img{
    display: none;
  }

  @media(max-width:768px){
    
    .site-card-border-less-wrapper{
        grid-template-columns: 286px  286px;
        margin-left: 2.5rem;
        
    }
  }

  
  @media(max-width:420px){
    .site-card-border-less-wrapper{
        grid-template-columns: 286px;
        margin: auto;
        overflow: hidden;
        
    }
  }