.sidebar {
	display: table-cell;
	width: 3%;
	vertical-align: top;
    
}
.sidebar .header img{
    width: 4.2rem;
}
.sidebar .middle{
    margin-top: 3.5rem;
}

.sidebar .middle img{
    width: 1.7rem;
    margin: 8px 0px 0 11px;
}

.sidebar .middle img:nth-child(2){
    width: 3.5rem;
    position: relative;
    right: 10px;
}

.sidebar .lower {
   margin-top:5rem;
}

.sidebar .lower img{
    width: 1.4rem;
    margin: 7px;
    position: relative;
    left: 10px;
}
.sidebar .lower img:nth-child(2){
    width: 3rem;
    position: relative;
    left: -2px;
}


@media(max-width:768px){
    .sidebar .lower {
        margin-top: 10rem;
    }
    .sidebar .lower img{
        margin-top: 2rem;
    }
    .sidebar .middle img{
        margin-top: 2rem;
    }
}